{% extends "base.html.twig" %}
{% block body %}
    <main class="main">
            <h1>card links</h1>
        <p> when rearanging the cards it also re-stores the card-in-deck position in the session </p>
        <p> new card deck can be done by pressin initiate</p>
        <p> this makes more sence instead of the shuffle route re-creating the deck </p>
        <p> the extra number on the card represents its position in the deck 1 being at the top </p>
        Initate  <a href={{path('card_init')}}> Initiate Card Deck ! must do </a> <br>
        Sort <a href={{path('card_deck')}}>Sort the Card Deck </a> <br>
        Shuffle    <a href={{path('card_deck_shuffle')}}> SHuffles deck and displays new arrangement  </a> <br>
        Display    <a href={{path('card_display')}}> Display the card deck in the current arrangement </a> <br>
        Draw    <a href={{path('card_deck_draw')}}> Draws a card from the deck and displays it and the rest of the deck </a> <br>
        Display Drawn Cards    <a href={{path('drawn_display')}}> Display all drawn cards from the deck </a> <br>


            
            
    </main>

{% endblock %}