{% extends "base.html.twig" %}

{% block title %}Me{% endblock %}



{% block body %}
    
    <div class = main>
    <h1> JSon apis </h1>
        <a href = "{{ app.request.baseUrl }}/api/qoute/">Qoutes</a> Ger dagens qoute<br>
        <a href="{{ path('api_deck')}}"> Show and sort deck</a> Displays and sorts the cardDeck in the session. <br>
        <form method="post">
            <input type="submit" value="shuffle" onClick="this.form.action='{{ path('api_deck_shuffle') }}';">
        </form> shuffles and displays the cardDeck in session <br>

        
        <form method="post" id="drawForm">
            <input type="submit" value="Draw Random Card" onClick="this.form.action='{{ path('api_deck_draw_random') }}';">
        </form><br>

        <form method="post" id="drawForm">
            <input type="number" value="1" min="1" max="52" name="num" id="numInput">
            <input type="submit" value="Draw Card" onClick="this.form.action='{{ path('post_bridge') }}';">
        </form>
        



    </div>


{% endblock %}