{% extends "base.html.twig" %}
{% block body %}
    <main class="main">
    <a href={{path('session_delete')}}> clear session </a>
        <ul>
            <li> pig_total {{sessionArray['pig_total']}} </li>
            <li> pig_dices {{sessionArray['pig_dices']}} </li>
            <li> pig_round {{sessionArray['pig_round']}} </li>
            <p></p>
            
               
        </ul>
        DeckOfCards session 'card_deck' <br>
        {% if sessionArray['card_deck'] != null%}
            {% for card in sessionArray['card_deck'].getDeck() %}
                    <span> {{card.getCard()}}  {{card.getPosition}} </span>
            {%endfor%}  
        {%endif%}
        
        {{ include('flash.html.twig') }}
    </main>

{% endblock %}